.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../img/Salons/backk.png);
  padding: 100px 8px 120px;

  .title {
    text-align: center;
    color: var(--white);
    padding-bottom: 60px;

    .top {
      font-family: 'Grilroy';
      font-size: 21px;
      font-weight: 400;
      line-height: 140%;
    }

    p {
      margin-top: 15px;
      font-size: 30px;
      font-family: 'Noto Serif';
      font-weight: 700;
      line-height: normal;
    }
  }
}

@media (max-width:1100px) {
  .wrapper {
  
    .title {
  
      .top {
        font-size: calc(16px + (5 + 5 * 0.7) * ((100vw - 290px) / 1100));
      }
  
      p {
        font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 290px) / 1100));
      }
    }
  }
}