.wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 14px 15px;
  display: flex;
  width: 100%;
  max-width: 448px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;

  .container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--white);
    padding: 20px 22px;

    input {
      box-sizing: border-box;
      outline: none;
      padding: 14px 20px;
      border: 1px solid var(--grey);
      font-size: 14px;
      font-family: 'Gilroy';
      font-weight: 500;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      margin-right: 15px;

      &::placeholder {
        color: rgba(51, 51, 51, 0.50);
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      background: var(--black);
      border: 0;
      color: var(--white);
      font-size: 14px;
      font-family: 'Gilroy';
      font-weight: 400;
      letter-spacing: 1.4px;
      transition: .2s ease;
      text-transform: uppercase;
      padding: 0 35px;

      &:hover {
        transition: .2s ease;
        background: #3f3f3f;
      }
    }
  }
}

@media (max-width: 465px) {
  .wrapper {
    max-width: 300px;
    .container {
      flex-direction: column;
      input {
        margin-right: 0;
      }
      button {
        margin-top: 15px;
        padding: 10px 35px;
      }
    }
  }
}